<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Apple Music</title><!--Name tittle-->
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> <!--link font-->
        <link rel="stylesheet" href="../css/aboutc.css">  <!--link html with css-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <script src="https://kit.fontawesome.com/46b381a909.js" crossorigin="anonymous"></script><!--link icon-->
        <header id="top">
            <B><h1><i class="fa-solid fa-lollipop"></i> Lollipop Music </h1></B><!--Name in header-->
        </header>
        <div class="navbar"><!--Navigation bar-->
            <nav>
                <a href="homepage2"><i class="fas fa-home"></i> Home</a><!--Home button-->
                <a href="listen3"><i class="far fa-play-circle"></i> Listen Now</a><!--listen now button-->
                <a href="Browse"><i class="fas fa-list"></i> Browse</a><!--Browse button-->
                <a href="Search"><i class="fas fa-search"></i> Search</a><!--Search button-->
                <a href="login2"><i class="fas fa-sign-out-alt"></i> Log out</a><!--Log out button-->
            </nav>
        </div>
        <div class="htittle"><!--Sub tittle-->
            <h1>About Us</h1>
        </div>
        <!-- <div class="wrapper"> Unnecessary class -->
            <div class="container"><!--Container for lay out all card-->
                <div class="card"><!--Each card-->
                    <figure>
                        <img src="http://localhost:8000/M.jpg" alt="Profile image"><!--Images-->
                    </figure>
                    <p class="name">Waris Damkham</p>
                    <p class="role">6388014 Sec 1</p>
                    <div class="separator"></div><!--Color bar-->
                    <div class="social-container">
                        <p class="role">Mahidol University</p>
                    </div>
                </div>
                <div class="card"><!--Each card-->
                    <figure>
                        <img src="http://localhost:8000/Mind.jpg" alt="Profile image"><!--Images-->
                    </figure>
                    <p class="name">Chalumphu Atjarit</p>
                    <p class="role">6388020 Sec 1</p>
                    <div class="separator"></div><!--Color bar-->
                    <div class="social-container">
                        <p class="role">Mahidol University</p>
                    </div>
                </div>
                <div class="card"><!--Each card-->
                    <figure>
                        <img src="http://localhost:8000/Tai.jpg" alt="Profile image"><!--Images-->
                    </figure>
                    <p class="name">Pattanan Korkiattrakool</p>
                    <p class="role">6388022 Sec 1</p>
                    <div class="separator"></div><!--Color bar-->
                    <div class="social-container">
                        <p class="role">Mahidol University</p>
                    </div>
                </div>
                <div class="card"><!--Each card-->
                    <figure>
                        <img src="http://localhost:8000/Mucky.jpg" alt="Profile image"><!--Images-->
                    </figure>
                    <p class="name">Krittapat Donsom</p>
                    <p class="role">6388120 Sec 1</p>
                    <div class="separator"></div><!--Color bar-->
                    <div class="social-container">
                        <p class="role">Mahidol University</p>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </body>
</html>
