<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lolipop Music</title><!--Name tittle-->
        <link rel="stylesheet" href="../css/homepage2.css"><!--link html with css-->
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet"> <!--link font-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
        <body>
            <script src="https://kit.fontawesome.com/46b381a909.js" crossorigin="anonymous"></script><!--link icon-->
            <header id="top">
                <B><h1><i class="fa-solid fa-lollipop"></i> Lollipop Music </h1></B><!--Name in header-->
            </header>
            <div class="htittle"><!--Sub tittle-->
                <h1>homepage</h1>
            </div>
            <div class="navbar"><!--Navigation bar-->
                <nav>
                    <a href="about"><i class="fas fa-info-circle"></i> About</a><!--About button-->
                    <a href="listen3"><i class="far fa-play-circle"></i> Listen Now</a><!--listen now button-->
                    <a href="Browse"><i class="fas fa-list"></i> Browse</a><!--Browse button-->
                    <a href="Search"><i class="fas fa-search"></i> Search</a><!--Search button-->
                    <a href="login2"><i class="fas fa-sign-out-alt"></i> Log out</a><!--Log out button-->
                </nav>
            </div>
            <!-- <div class="wrapper"> Unnecessary class -->
                <div class="container"><!--Container for lay out all card-->
                    <div class="card"> <!--Each card-->
                        <figure>
                            <a href="listen3"><img src="http://localhost:8000/listen3.jpg"></a><!--Images-->
                        </figure>
                        <p class="name"><h1>Listen now</h1></p>
                    </div>
                    <div class="card"><!--Each card-->
                        <figure>
                            <a href="Browse"><img src="http://localhost:8000/Browse.jpg" alt="Profile image"></a><!--Images-->
                        </figure>
                        <p class="name"><h1>Browse</h1></p>
                    </div>
                    <div class="card"><!--Each card-->
                        <figure>
                            <a href="Search"><img src="http://localhost:8000/Search.jpg" alt="Profile image"></a><!--Images-->
                        </figure>
                        <p class="name"><h1>Search</h1></p>
                    </div>
                </div>
            <!-- </div> -->
        </body>
</html>
        